:host {
  display: contents;
}

.card-align-center {
  text-align: -webkit-center;
}

@media print {
  @page {
    margin-top: 0;
    margin-bottom: 0;
  }
  body {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}
