<ion-header>
  <ion-toolbar color="primary">
    <app-user-info></app-user-info>
    <ion-buttons slot="end">
      <ion-button *ngIf="(isShowinfDetails$ | async) === false">
        <app-printing [window]="window"></app-printing>
      </ion-button>

      <ion-button>
        <app-user-menu></app-user-menu>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary" *ngIf="isShowinfDetails$ | async">
    <ion-grid>
      <ion-row>
        <ion-col size="12" sizeLg="4" sizeMd="4">
          <ion-list>
            <ion-item>
              <ion-select
                aria-label="Godina"
                placeholder="Izaberi godinu"
                (ionChange)="handleChangeYearChanged($event)"
              >
                <ion-select-option value="2023">2023</ion-select-option>
                <ion-select-option value="2024">2024</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col size="12" sizeLg="4" sizeMd="4">
          <ion-list>
            <ion-item>
              <ion-select
                aria-label="Mesec"
                placeholder="Izaberi mesec"
                (ionChange)="handleChangeMonth($event)"
              >
                <ion-select-option value="0">Januar</ion-select-option>
                <ion-select-option value="1">Februar</ion-select-option>
                <ion-select-option value="2">Mart</ion-select-option>
                <ion-select-option value="3">April</ion-select-option>
                <ion-select-option value="4">Maj</ion-select-option>
                <ion-select-option value="5">Jun</ion-select-option>
                <ion-select-option value="6">Jul</ion-select-option>
                <ion-select-option value="7">Avgust</ion-select-option>
                <ion-select-option value="8">Septembar</ion-select-option>
                <ion-select-option value="9">Oktobar</ion-select-option>
                <ion-select-option value="10">Novembar</ion-select-option>
                <ion-select-option value="11">Decembar</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col size="12" sizeLg="4" sizeMd="4">
          <ion-list>
            <ion-item>
              <ion-select
                aria-label="Tip"
                placeholder="Izaberi tip"
                (ionChange)="handleChange($event)"
                [multiple]="true"
              >
                <ion-select-option value=0>Sve</ion-select-option>
                <ion-select-option value=1>Kg</ion-select-option>
                <ion-select-option value=2>Masnoca</ion-select-option>
                <ion-select-option value=3>Voda</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar color="primary" class="no-print">
    <ion-segment [value]="0" (ionChange)="changeTab($event)">
      <ion-segment-button value="0">
        <ion-label>Details</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>Preview</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid *ngIf="isShowinfDetails$ | async">
    <ion-row>
      <ion-col size="12" sizeLg="6" sizeMd="6" *ngIf="chartKgShow$ | async">
        <ion-card class="card-align-center" *ngIf="chartKgShow$ | async">
          <canvas id="chartCanvasKg">{{ chartKg }}</canvas>
        </ion-card>
      </ion-col>

      <ion-col
        size="12"
        sizeLg="6"
        sizeMd="6"
        *ngIf="chartBodyFatShow$ | async"
      >
        <ion-card class="card-align-center">
          <canvas id="chartCanvasBodyFat">{{ chartKg }}</canvas>
        </ion-card>
      </ion-col>
      <ion-col
        size="12"
        sizeLg="6"
        sizeMd="6"
        *ngIf="chartBodyWaterShow$ | async"
      >
        <ion-card class="card-align-center">
          <canvas id="chartCanvasWater">{{ chartWater }}</canvas>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid >
    <ion-row>
      <ion-col size="12" sizeLg="6" sizeMd="6" *ngIf="(imgUrlChartKg$ | async) || (isShowinfDetails$ |async) === false">
        <ion-card class="card-align-center" *ngIf="(chartKgShow$ | async) && (isShowinfDetails$ |async) === false">
          <ion-img src="{{ imgUrlChartKg$ | async }}"></ion-img>
        </ion-card>
      </ion-col>

      <ion-col
        size="12"
        sizeLg="6"
        sizeMd="6"
        *ngIf="(imgUrlChartBodyFat$ | async) && (isShowinfDetails$ |async) === false"
      >
        <ion-card class="card-align-center" *ngIf="(chartBodyFatShow$ | async) && (isShowinfDetails$ |async) === false">
          <ion-img src="{{ imgUrlChartBodyFat$ | async }}"></ion-img>
        </ion-card>
      </ion-col>

      <ion-col
        size="12"
        sizeLg="6"
        sizeMd="6"
        *ngIf="(imgUrlChartWater$ | async) && (isShowinfDetails$ |async) === false"
      >
        <ion-card class="card-align-center" *ngIf="(chartBodyWaterShow$ | async) && (isShowinfDetails$ |async) === false">
          <ion-img src="{{ imgUrlChartWater$ | async }}"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <app-footer></app-footer>
</ion-footer>
