
<ion-header >
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button>
          <app-user-menu></app-user-menu>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar class="ion-text-center" color="primary">
      <ion-label>{{'HOME.WELCOME' | translate}}</ion-label>
    </ion-toolbar>
        
   
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col style="flex: none; max-width: none;" class="ion-text-center">
            <ion-button routerLink="menu">Prijava</ion-button>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-content>
    <ion-footer>
      <app-footer></app-footer>
    </ion-footer>