:host{
    display: contents;
}

.fill-available{
    width: -webkit-fill-available;
}

.allign-in-row {
    display: flex;
}

.no-display-image{
    height: 50vh;
  width: auto;
  margin: auto;
  display: block;
}

