



<ion-content>
    <canvas  id="chartCanvas" >{{ chart }}</canvas>
  
    <ion-list>
        <ion-item>
          <ion-select
            aria-label="Mesec"
            placeholder="Izaberi mesec"
            (ionChange)="handleChange($event)"
            selectedText={{selectedMonth}}
            
          >
            <ion-select-option value="1">Januar</ion-select-option>
            <ion-select-option value="2">Februar</ion-select-option>
            <ion-select-option value="3">Mart</ion-select-option>
            <ion-select-option value="4">April</ion-select-option>
            <ion-select-option value="5">Maj</ion-select-option>
            <ion-select-option value="6">Jun</ion-select-option>
            <ion-select-option value="7">Jul</ion-select-option>
            <ion-select-option value="8">Avgust</ion-select-option>
            <ion-select-option value="9">Septembar</ion-select-option>
            <ion-select-option value="10">Oktobar</ion-select-option>
            <ion-select-option value="11">Novembar</ion-select-option>
            <ion-select-option value="12">Decembar</ion-select-option>         
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-select
            aria-label="Godina"
            placeholder="Izaberi godinu"
            (ionChange)="handleChange($event)"
            selectedText={{selectedYear}}
            
          >
            <ion-select-option value="2023">2023</ion-select-option>
            <ion-select-option value="2024">2024</ion-select-option>
            
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-select
            aria-label="Tip"
            placeholder="Izaberi tip"
            (ionChange)="handleChange($event)"
            selectedText={{selectedType}}
            
          >
            <ion-select-option value="Kg">Kg</ion-select-option>
            <ion-select-option value="Masnoca">Masnoca</ion-select-option>
            <ion-select-option value="Test">Test</ion-select-option>
            
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-footer>
        <ion-button class="fill-available" (click)="closeModal()">Close</ion-button>
      </ion-footer>

</ion-content>



